# Ignore Terraform build and provider files
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfstate*
*.log

# Ignore Jenkins and Git metadata
.git/
.gitignore
Jenkinsfile

# Ignore local and sensitive files
*.pem
*.pub
*.key
*.zip
*.tar
*.gz

# Ignore Python caches
__pycache__/
*.pyc
*.pyo

# Optional: if you have virtualenv or node_modules
venv/
node_modules/
